body {
    color: rgb(23, 65, 128);
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(160, 61, 218);
    padding: 20px;
    font-size: 32px;
    color: rgb(245, 11, 214);
     font-family: "Merienda", cursive;
}

section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
  font-size: 50px;
  color: rgb(82, 12, 72);
  font-family: "Lora", serif;
  padding-bottom: 10px;
}

h2 {
  font-size: 30px;
  color:rgb(82, 12, 72);
  font-family: "Savate", sans-serif;
}

p {
  font-size: 20px;
  color: rgb(82, 12, 72);
  font-family: "Lora", serif;
}