body {
    color: rgb(23, 65, 128);
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(160, 61, 218);
    padding: 20px;
    font-size: 32px;
    color: rgb(245, 11, 214);
     font-family: "Merienda", cursive;
}

.chamada {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
  font-size: 50px;
  color: rgb(82, 12, 72);
  font-family: "Lora", serif;
}

h2 {
  font-size: 35px;
  color:rgb(238, 241, 91);
  font-family: "Caveat", cursive;
}

h3 {
  font-size: 35px;
  color: rgb(230, 73, 190);
  font-family: "Share Tech", sans-serif;
}

p {
  font-size: 20px;
  color: rgb(82, 12, 72);
  font-family: "Lora", serif;
}

h1, h2 {
  margin-top: 3px; /* Espaço acima */
  margin-bottom: 3px; /* Espaço abaixo */
}

img {
  height: 200px;
}

.categoriavideos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
}

.categoriavideos img {
  opacity: 0,5;
  height: 200px;
}

.categoriavideos img:hover {
  opacity: 1.0;
}



