body {
    color: rgb(23, 65, 128);
    background: black;
    margin: 0px;
    font-family: "Libre Baskerville", serif;
}

header {
    border-bottom: solid 2px rgb(160, 61, 218);
    padding: 20px;
    font-size: 32px;
    color: rgb(245, 11, 214);
}

section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
  font-size: 40px;
  color: rgb(10, 41, 141);
}

h2 {
  font-size: 30px;
  color: rgb(10, 41, 141);
}

p {
  font-size: 20px;
  color: rgb(11, 61, 128);
}